/*Farmer graph CSS attributes*/
.container{
  padding-left: 10%;
  padding-right: 10%;
}

.question {
  font-weight: bold;
}


.btn {
  background-color: white;
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  padding: 10px 24px;
  border-radius: 4px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 160px;
}

.btn-size {
  width: 160px;
}

.button1 {
  border: 2px solid red;
}

.button1:hover {
  background-color: red;
  color: white;
}

.button2 {
  border: 2px solid blue;
}

.button2:hover {
  background-color: blue;
  color: white;
}

.button3 {
  border: 2px solid rgb(255, 136, 0);
}

.button3:hover {
  background-color: rgb(255, 136, 0);
  color: white;
}

.button4 {
  border: 2px solid green;
}

.button4:hover {
  background-color: green;
  color: white;
}

h1 {
  text-align: center;
  color: black;
}

.buttonsGreenMarkets {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(10px, auto);
  grid-gap: 1em;
  justify-items: center;
  align-items: center;
}

.graphAndButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(10px, auto);
  grid-gap: 1em;
  justify-items: center;
  align-items: center;
}

.part4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(10px, auto);
  grid-gap: 1em;
  justify-items: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(10px, auto);
  grid-gap: 1em;
  justify-items: center;
  align-items: stretch;
}

.text {
  display: grid;
  justify-items: center;
  align-items: stretch;
  max-width: 80%;
}

.line {
  fill: none;
  stroke: blue;
  stroke-width: 1;
}

/*Marathon graph CSS attributes*/

.lgWomen {
  stroke: black;
  stroke-dasharray: 4, 4;
  stroke-width: 3;
}

.lgMen {
  stroke: black;
  stroke-dasharray: 4, 4;
  stroke-width: 3;
}

circle {
  stroke: red;
  stroke-width: 1;
  fill: white;
}

circle:hover {
  fill: rgb(255, 136, 0);
}

rect.womenDataRects {
  stroke: green;
  stroke-width: 1;
  fill: white;
}

rect:hover {
  fill: blue;
}

.legendMen {
  stroke: red;
  fill: red;
}

.legendWomen {
  stroke: green;
  fill: green;
}

.legendLr {
  stroke: black;
  fill: black;
  stroke-dasharray: 3, 3;
}

.legendLrText {
  stroke: black;
  fill: black;
}

.menAndWomenButton {
  border: 2px solid rgb(255, 136, 0);
  align-self: end;
}

.menAndWomenButton:hover {
  background-color: rgb(255, 136, 0);
  color: white;
}

.womenButton {
  border: 2px solid green;
}

.womenButton:hover {
  background-color: green;
  color: white;
}

.menButton {
  border: 2px solid red;
  align-self: start;
}

.menButton:hover {
  background-color: red;
  color: white;
}

.buttonsMarathon {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(20px, auto);
  grid-gap: 1em;
  align-items: center;
}

.line1 {
  fill: none;
  stroke: red;
  stroke-width: 1;
}

.line2 {
  fill: none;
  stroke: green;
  stroke-width: 1;
}