.axis {
    font-size: 50%;
    /* font-size: xx-small; */
}

.divison-label{
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 10px;
    font-weight: lighter;
    fill: darkslategrey;
    text-anchor: middle;
    z-index: 100;
    pointer-events: none;   
}

.path{
    cursor: pointer;
}

/* LOADER */
.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*doughnut*/

.text {
        font-family: sans-serif;
		font-size: 12px;
        font-weight: bolder;
		fill: white;
		}
.legend {
    font-size: 13px;
  }        
  
/* Scatter plot */  

.lineMale {
    fill: none;
    stroke: blue;
    stroke-width: 1;
  }
  
.lineFemale {
    fill: none;
    stroke: red;
    stroke-width: 1;
  }
.lineBlacks {
    fill: none;
    stroke: black;
    stroke-width: 1;
  }
.lineHispanic {
    fill: none;
    stroke: orange;
    stroke-width: 1;
  }
.lineWhite {
    fill: none;
    stroke: green;
    stroke-width: 1;
  }
.lineAsians {
    fill: none;
    stroke: aqua;
    stroke-width: 1;
  }
.lineOthers {
    fill: none;
    stroke: brown;
    stroke-width: 1;
  } 
.lineSum {
    fill: none;
    stroke: grey;
    stroke-width: 1;
  } 
.line0_9 {
    fill: none;
    stroke: grey;
    stroke-width: 1;
  } 
.line10_19 {
    fill: none;
    stroke: grey;
    stroke-width: 1;
  }
.line20_29 {
    fill: none;
    stroke: grey;
    stroke-width: 1;
  }
.line30_39 {
    fill: none;
    stroke: grey;
    stroke-width: 1;
  }
.line40_49 {
    fill: none;
    stroke: grey;
    stroke-width: 1;
  }
.line50_59 {
    fill: none;
    stroke: grey;
    stroke-width: 1;
  }
.line60_69 {
    fill: none;
    stroke: grey;
    stroke-width: 1;
  }
.line70_plus {
    fill: none;
    stroke: grey;
    stroke-width: 1;
  }  
  
.circleMale {
     stroke: blue; 
     fill: blue;     
}  
.circleFemale {
     stroke: red;  
     fill: red;     
}  
.circleBlacks {
     stroke: black;  
     fill: black;     
}  
.circleHispanic {
     stroke: orange;    
     fill: orange;
}  
.circleWhite {
     stroke: green;
     fill: green;     
}  
.circleAsians {
     stroke: aqua;
     fill: aqua;     
}  
.circleOthers {
     stroke: brown;   
     fill: brown;
} 
.circleSum {
     stroke: grey;
     fill: grey;     
}  
.circle0_9 {
     stroke: grey;
     fill: grey;     
} 
.circle10_19 {
     stroke: grey;
     fill: grey;     
} 
.circle20_29 {
     stroke: grey;
     fill: grey;     
} 
.circle30_39 {
     stroke: grey;
     fill: grey;     
} 
.circle40_49 {
     stroke: grey;
     fill: grey;     
} 
.circle50_59 {
     stroke: grey;
     fill: grey;     
} 
.circle60_69 {
     stroke: grey;
     fill: grey;     
} 
.circle70_plus {
     stroke: grey;
     fill: grey;     
}  

/* buttons graph*/
.btn {
  background-color: white;
  color: black;
  text-align: center;
  display: inline-block;
  font-weight: 300;
  font-size: 12px;
  padding: 6px 6px;
  border-radius: 4px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 95px;
}

.buttonClearAll {
    border: 1px solid rgb(255, 0, 0);
    align-self: end;
  }
  
.buttonClearAll:hover {
    background-color: rgba(255, 0, 0, 0.6);
    color: black;
  } 
.buttonMale {
    border: 1px solid blue;
  } 
.buttonMale:hover {
    background-color: rgba(0, 0, 255, 0.4);
  } 
.buttonFemale {
    border: 1px solid red;
  }  
.buttonFemale:hover {
    background-color: rgba(255, 0, 0, 0.4);
  }  
.buttonBlacks {
    border: 1px solid black;
  }  
.buttonBlacks:hover {
    background-color: rgba(128, 128, 128, 0.4);
  }  
.buttonHispanic {
    border: 1px solid orange;
  }  
.buttonHispanic:hover {
    background-color: rgba(255, 165, 0, 0.4);
  }  
.buttonWhite {
    border: 1px solid green;
  }  
.buttonWhite:hover {
    background-color: rgba(0, 128, 0, 0.4);
  }  
.buttonAsians {
    border: 1px solid aqua;
  }  
.buttonAsians:hover {
    background-color: rgba(0, 255, 255, 0.4);
  }  
.buttonOthers {
    border: 1px solid brown;
  }  
.buttonOthers:hover {
    background-color: rgba(165, 42, 42, 0.4);
  }   
.buttonSum {
    border: 1px solid grey;
  }  
.buttonSum:hover {
    background-color: rgba(47, 79, 79, 0.4);
  }
  
.button0_9 {
    border: 1px solid grey;
  }  
.button0_9:hover {
    background-color: rgba(47, 79, 79, 0.4);
  } 
.button10_19 {
    border: 1px solid grey;
  }  
.button10_19:hover {
    background-color: rgba(47, 79, 79, 0.4);
  } 
.button20_29 {
    border: 1px solid grey;
  }  
.button20_29:hover {
    background-color: rgba(47, 79, 79, 0.4);
  } 
.button30_39 {
    border: 1px solid grey;
  }  
.button30_39:hover {
    background-color: rgba(47, 79, 79, 0.4);
  } 
.button40_49 {
    border: 1px solid grey;
  }  
.button40_49:hover {
    background-color: rgba(47, 79, 79, 0.4);
  } 
.button50_59 {
    border: 1px solid grey;
  }  
.button50_59:hover {
    background-color: rgba(47, 79, 79, 0.4);
  } 
.button60_69 {
    border: 1px solid grey;
  }  
.button60_69:hover {
    background-color: rgba(47, 79, 79, 0.4);
  } 
.button70_plus {
    border: 1px solid grey;
  }  
.button70_plus:hover {
    background-color: rgba(47, 79, 79, 0.4);
  }   

.highlight-date {
  border-style: solid;
  border-width: 5px;
  border-color: purple;
}

#calendar-tooltip {
  position: absolute;
  width: 150px;
  height: auto;
  padding: 10px;
  background-color: rgb(226, 226, 226);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(209, 209, 209, 0.4);
  pointer-events: none;
}

#calendar-tooltip.hidden {
  display: none;
}

#calendar-tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

#calendar-tooltip #day-desc{
  font-weight: bold;
}

.not-brushed{
  display: none;
}

.brushed{
  display: initial;
}
.center{
  text-align: center;
}
.hor-center{
  display: flex;
  justify-content: center;
  text-align: center;
}

.hor-vert-center{
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
}

.donuts {
  text-align: center;
}
.first {
  display: inline-block;
}
.second {
  display: inline-block;    
}

.btn-toggled{
  font-weight: 400;
  border-width: 3px;
}

.calendar-day, .calendar-month{
  font-size: 9px;
}

.cal{
  margin-bottom: 40px;
}

#yearly-calendars{
  display: none;
}